@page "/autores"
@inherits AutoresBase

<h3>Autores</h3>

@if (Autores == null)
{
<p><em>Loading...</em></p>
}
else
{
<a href="@($"autoredicao/0")" class="btn btn-primary">Novo</a>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Autor</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var autor in Autores)
        {
        <tr>
            <td>@autor.Id</td>
            <td>@autor.Nome</td>
            <td>
                <a href="@($"autoredicao/{autor.Id}")" class="btn btn-primary table-bordered">
                    Abrir
                </a>
            </td>
        </tr>
        }
    </tbody>
</table>
}