@page "/autores"
@inherits AutoresBase

<h3>Autores</h3>

@if (autores == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Autor</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var autor in autores)
            {
                <tr>
                    <td>@autor.Id</td>
                    <td>@autor.Nome</td>
                    <td>
                        <a href="@($"autordetalhe/{autor.Id}")" class="btn btn-primary table-bordered">
                            Abrir
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}