@page "/autores"
@inherits AutoresBase

<h3>Autores</h3>

@if (Autores == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <button @onclick="AddAutor" class="btn btn-primary">Novo</button>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Autor</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var autor in Autores)
            {
                <tr>
                    <td>@autor.Id</td>
                    <td>@autor.Nome</td>
                    <td>
                        <button @onclick="() => EditarAutor(autor)" class="btn btn-primary">Editar</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <EditAutorDialog @ref="EditAutorDialog" SalvoEventCallback="EditAutorDialog_Salvo" ExcluidoEventCallback="EditAutordialog_Excluido"></EditAutorDialog>
}