@page "/autores"
@inherits AutoresBase

<h3>Autores</h3>

@if (Autores == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <button style="margin-bottom: 5px" @onclick="AddAutor" class="btn btn-primary">Novo</button>

    <table class="table table-bordered table-sm">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Autor</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var autor in Autores)
            {
                <tr>
                    <td style="width:50px">@autor.Id</td>
                    <td>@autor.Nome</td>
                    <td style="width:90px">
                        <button @onclick="() => EditarAutor(autor)" class="btn btn-primary btn-sm oi oi-pencil"></button>
                        <button @onclick="() => ExcluirAutor(autor)" class="btn btn-danger btn-sm oi oi-circle-x"></button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <EditAutorDialog @ref="EditAutorDialog" SalvoEventCallback="EditAutorDialog_Salvo" ExcluidoEventCallback="EditAutordialog_Excluido"></EditAutorDialog>
}